<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/vent/baseImp/base.js"></script>
    <script type="text/javascript" src="/vent/indexMod/js/indexImp.js"></script>
    <script type="text/javascript" src="/vent/indexMod/js/index.js"></script>
    <title>Title</title>
</head>
<body ng-app="indexApp">
<div ng-controller="indexCtrl" class="indexNav bdtest">
    <div>
        <a href="javascript:void(0)" ng-click="fn.userLogin()">登录</a>
        <a href="javascript:void(0)" ng-click="fn.regist()">注册</a>
    </div>
    <div>
        <div class="talkNav fll bdtest">
            <div ng-controller="findPersCtrl" ng-show="ctrl.showFindPers">
                <input type="text" ng-model="userInfo.nickName">
                <button ng-click="fn.findPers()">star</button>
            </div>
            <div ng-controller="talkInfoCtrl" ng-show="ctrl.showTalkWin">
                <div ng-repeat="item in data.talkInfoList track by $index">
                    <div ng-bind="item.time"></div>
                    <div ng-bind="item.msg"></div>
                </div>
            </div>
            <div ng-controller="talkCtrl" ng-show="ctrl.showTalkWin">
                <input type="text" ng-model="msg">
                <button type="button" ng-click="fn.send()">test</button>
            </div>
        </div>
        <div class="articleNav fll bdtest" ng-controller="articlesCtrl">
            <div ng-repeat="item in data.commonArticlesList track by $index">
                <a href="javascript:void(0)" ng-click="goToAriticlePage(item.articleNo)">
                    <div ng-bind="item.articleTitle"></div>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    seajs.use('indexMod');
</script>
</html>