<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/vent/baseImp/base.js"></script>
    <script type="text/javascript" src="/vent/indexMod/js/indexImp.js"></script>
    <script type="text/javascript" src="/vent/indexMod/js/index.js"></script>
    <title>Title</title>
</head>
<body ng-app="indexApp">
<div ng-controller="indexCtrl" class="indexNav ofh">
    <div class="wb88 bdb mb20 ofh mr80 pb6">
        <a href="javascript:void(0)" ng-click="fn.userLogin()" class="fr">登录</a>
        <a href="javascript:void(0)" ng-click="fn.regist()" class="fr mr10">注册</a>
    </div>
    <div>
        <div class="talkNav fl pl20">
            <div ng-controller="findPersCtrl" ng-show="ctrl.showFindPers" class="fdDiv h60 ofh">
                <div class="fdCenter fdBG bdr">
                    <input class="bdr" type="text" ng-model="userInfo.nickName"
                       placeholder="输入昵称匹配聊天">
                </div>
                <div>
                    <button ng-click="fn.findPers()" class="bdr w60 h60">匹配</button>
                </div>
            </div>
            <div>
                <div id="talkInfo" ng-controller="talkInfoCtrl" ng-show="ctrl.showTalkWin" class="h400 ofa bd">
                    <div class="p10 mg10 h380">
                        <div ng-repeat="item in data.talkInfoList track by $index">
                            <div ng-bind="item.time"></div>
                            <div ng-bind="item.msg"></div>
                        </div>
                    </div>
                </div>
                <div ng-controller="talkCtrl" ng-show="ctrl.showTalkWin" class="h100 mt20">
                    <textarea ng-model="msg" class="txar h80 w520 fl ml15"></textarea>
                    <button type="button" ng-click="fn.send()" class="ml10 h85 w80 bdr">发送</button>
                </div>
            </div>
        </div>
        <div class="articleNav fl ml10 bdl" ng-controller="articlesCtrl">
            <div ng-repeat="item in data.commonArticlesList track by $index">
                <a href="javascript:void(0)" ng-click="goToAriticlePage(item.articleNo)">
                    <div ng-bind="item.articleTitle"></div>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    seajs.use('indexMod');
</script>
</html>